@import "bourbon"

.reviews
  &__title
    color: #10c7c5
    font-size: em(30px)
    font-family: "GardensC"
    position: relative
    bottom: 15px
    padding-bottom: 20px

  &__fullreviews
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    color: #10c7c5
    font-family: "Comfortaa-Light"
    width: 65px
    height: 65px
    border-radius: 10em
    border: 3px solid #e2e2e2
    text-align: center
    padding-top: 7px
    font-size: 13px
    &:hover
      background-color: #10c7c5
      color: #fff

  &__content
    max-width: 1080px
    position: relative
    background-color: #FFF
    height: 280px

  &__slider
    width: 90%
    overflow: hidden
    border-radius: 20px
    border: 1px solid #e2e2e2
    height: 280px
    position: relative

  &__top
    @include clearfix
    padding-top: 20px
    width: 90%
    margin: 0 auto
    padding-bottom: 20px

  &__left
    float: left
    width: 40%
    padding-top: 25px

  &__center
    float: none
    width: 105px
    display: inline-block
    img
      width: 105px
      height: 105px
      border-radius: 10em

  &__name
    color: #10c7c5
    font-size: em(24px)
    font-family: "GardensC"

  &__work
    font-size: em(14px)
    color: #333333
    font-family: "GardensC"
    padding-top: 3px

  &__right
    float: right
    width: 30%
    padding-top: 25px

  &__site
    font-size: em(24px)
    color: #333333
    font-family: "GardensC"  

  &__history
    font-size: em(14px)
    padding-top: 3px
    color: #10c7c5
    font-family: "GardensC" 

  &__text
    width: 90%
    margin: 0 auto
    color: #333333
    font-family: "Comfortaa-Light"
    padding-bottom: 20px

  &__buttons
    width: 65px
    height: 65px
    position: absolute
    border-radius: 10em
    right: 0
    background-color: #FFF
    border: 3px solid #10c7c5
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    &--next
      background-image: url("../img/rev-arrow.png")
      top: 0
    &--prev
      background-image: url("../img/rev-arrow.png")
      transform: rotate(180deg)
      bottom: 0


@media screen and (max-width: 800px)
  .reviews
    &__title
      color: #10c7c5
      font-size: em(30px)
      font-family: "GardensC"
      position: relative
      bottom: -20px
      text-align: center
      padding-bottom: 40px
    &__left
      width: 80%
    &__center
      float: right
    &__site
      display: none
    &__history
      display: none
    &__slider
      width: 89%
@media screen and (max-width: 700px)
  .reviews
    &__left
      width: 70%
    &__slider
      width: 85%
@media screen and (max-width: 550px)
  .reviews
    &__top
      padding-bottom: 0
    &__left
      padding-top: 5px
    &__center
      width: 60px
      img
        width: 60px
        height: 60px
@media screen and (max-width: 500px)
  .reviews

    &__slider
      width: 80%
    &__center
      display: none
    &__left
      width: 100%
    &__text
      p 
        text-overflow: ellipsis
        height: 150px
        overflow: hidden
@media screen and (max-width: 350px)
  .reviews
    &__text
      p 
        text-overflow: ellipsis
        height: 80px
        overflow: hidden