header
	.header__wrap
		.header__left
			a(href="#").header__logo
				.header__logoimg
					img(src="img/logo.png", alt="logo")
				.header__logotext
					.header__logotitle ВебМатематика
					.header__logodesc простое решение сложных задач
		.header__center
			.header__desc Просто создаём сайты.
		.header__right
			.header__phone 8 (495) 466-23-23 
			.header__callback мы вам перезвоним
		.header__burgerwrap
			.header__burger
				.header__burgeritem
				.header__burgeritem
				.header__burgeritem