nav
	.menu
		.menu__wrap
			ul.menu__list.menu__list--first
				li.menu__item.active
					a(href="#" class="menu__link") Главная
				li.menu__item
					.menu__link.menu__link--open Услуги 
				li.menu__item
					a(href="#" class="menu__link") Отзывы
				li.menu__item
					a(href="#" class="menu__link") Портфолио 
				li.menu__item
					a(href="#" class="menu__link") Инфо
				li.menu__item
					a(href="#" class="menu__link") Контакты
			ul.menu__list.menu__list--second
				li.menu__item
					.menu__link.menu__link--open Услуги 
				li.menu__item
					a(href="#" class="menu__link") Создание сайтов
				li.menu__item
					a(href="#" class="menu__link") Продвижение
				li.menu__item
					a(href="#" class="menu__link") Поддержка