mixin footermenu(text)
	li
		a(href="#")=text

mixin footersol(classs)
	li
		a(href="#" class=classs)

mixin revitem
	.rev__item
		.rev__top
			.rev__topleft
				.rev__name Екатерина Иванова
				.rev__work Индивидуальный предприниматель
			.rev__topcenter
				img(src="http://lorempixel.com/1920/1080")
			.rev__topright
				.rev__site Работа: beautyelixir.ru
				.rev__history История, контакты
		.rev__center
			p У студии очень правильная концепция: делать сайты так, чтобы ими гордиться. Мы бы сказали: «делать сайты так, чтобы их с удовольствием посещали». Всем ясно, что в Интернет идут в первую очередь за информацией. Пользователи не любят, когда путь к нужным им данным на ресурсе запутан и суров. Мы рады, что студи ВебМатематика это понимает и разрабатывает свои проекты соответствующе.
			p Мы довольны работой со студией и интернет-ресурсом, который получили. Процесс сотрудничества с агенством оказался на редкость гладким, хотя были спорные моменты (как в любой коллективной работе). 
		.rev__footer
			.rev__footerright
				a(href="#")
					img(src="http://lorempixel.com/1920/1080")
				a(href="#")
					img(src="http://lorempixel.com/1920/1080")
				a(href="#")
					img(src="http://lorempixel.com/1920/1080")

