extend template
block content
	include reviews/beard
	.portfolio__page
		.portfolio__wrappper
			a(href="#").portfolio__items
				.portfolio__imgwrap
					img(src="http://lorempixel.com/1920/1080")
				p Эликсир красоты 
		.portfolio__wrappper
			a(href="#").portfolio__items
				.portfolio__imgwrap
					img(src="http://lorempixel.com/1920/1080")
				p Эликсир красоты 
		.portfolio__wrappper
			a(href="#").portfolio__items
				.portfolio__imgwrap
					img(src="http://lorempixel.com/1920/1080")
				p Эликсир красоты
		.portfolio__wrappper
			a(href="#").portfolio__items
				.portfolio__imgwrap
					img(src="http://lorempixel.com/1920/1080")
				p Эликсир красоты
	include reviews/callback