include mixins/mixin
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		block title	
		
		include libs/styles
	body
		.wrapper-site
			.content-site
				include header/header
				include header/nav
				block content
			.content-footer
				include footer/footer
				.scroll-top
					.scroll-top__img
						img(src="img/scroll.png", alt="scroll" class="scroll-show")
						img(src="img/scroll-active.png", alt="scroll" class="scroll-hiden")
					p Вверх
				.modal
					.modal__wrapper
						h2.modal__title Заказать звонок
						form(action="")
							.modal__item
								input(type="text" required placeholder="Имя" onBlur='this.value=this.value.replace(/[^\йцукенгшщзхъфывапролджэячсмитьбюЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮ]/ig,"")' onkeyup='this.value=this.value.replace(/[^\йцукенгшщзхъфывапролджэячсмитьбюЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮ]/ig,"")')
							.modal__item
								input(type="phone" class="input_phone" required placeholder="Телефон")
							.modal__item
								textarea(placeholder="Коментарий")
							.modal__item
								button(type="submit" class="modal__submit") Отправить
		include libs/scripts


