include mixins/mixin
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		block title	
		
		include libs/styles
	body
		header
			include header/header
		block content			
		footer
			include footer/footer
		include libs/scripts
