.callback
    .callback__container
        .callback__wrapper
            .callback__text.callback__text--biger
                p У вас есть классная идея? Или уже нужно изменить имеющийся сайт?
                p Пишите, и мы сможем найти для вас лучшее решение!
            .callback__footer.callback__footer--button Отправить заявку