footer.footer
	.footer-top
		.footer-top__wrap
			.footer-top__left
				.footer-menu
					ul
						+footermenu('Предложить сотрудничество')
						+footermenu('Написать руководителю')
						+footermenu('Политика конфеденциальности')
						+footermenu('Авторские права')
			.footer-top__right
				.footer-text Создание, разработка, продвижение и поддержка веб сайтов.
				.footer-social
					.footer-social__text Мы в соц. сетях:
					.footer-social__wrap
						ul
							+footersol('vk')
							+footersol('inst')
							+footersol('pin')
							+footersol('youtube')
	.footer-bottom
		.footer-bottom__wrap
			.footer-bottom__text
				span.left 2010 - живём и будем жить!
				img(src="img/copy.png", alt="copy")
				span.right ВебМатематика