.breadcrumbs
	max-width: 1200px
	margin: 0 auto
	padding: 10px 0
	&__link
		display: inline-block
		color: #c5c5c5
		font-size: em(14px)
		font-family: "Comfortaa-Regular"
		&::after
			content: '>'
			margin-left: 5px
			color: #c5c5c5
			position: relative
			font-size: em(14px)
			font-family: "Comfortaa-Regular"
		&:last-child
			&::after
				display: none

@media screen and (max-width: 1200px)
	.breadcrumbs
		padding-left: 20px
		padding-right: 20px