.callback
    h2.callback__title Скидки! Супер успех! Вы 33573 и это счастливое число :)
    .callback__container
        .callback__wrapper
            .callback__text
                p По всем правилам здесь должен быть блок со скидками. Но его не будет) Давайте будем честны, мы уже давно выросли из того возраста, когда верим в красивые сказки и золотые горы.
                p Мы, в студии, можем пойти на уступки, мы можем войти в положение, но скидывать 30, 40, 50 процентов, от надуманных цен, считаем глупым ходом.
                p Обращайтесь! Мы адекватные люди и готовы к честному диалогу с клиентом!
            .callback__footer
                span Звоните
                span.red 8 (495) 466-23-23
                span или
                span.red.underline.callback__button закажите звонок.