section.info
	h2.info__title Что нужно знать о студии?
	.info__container
		.reviews
			h3.reviews__title Что о них говорят
			.reviews__content
				.reviews__buttons.reviews__buttons--prev
				.reviews__buttons.reviews__buttons--next
				a(href="#" class="reviews__fullreviews") Все отзывы
				.reviews__slider.owl-carousel
					.reviews__item
						.reviews__top
							.reviews__left
								.reviews__name Екатерина Иванова
								.reviews__work Индивидуальный предприниматель
							.reviews__center
								img(src="http://lorempixel.com/200/200", alt="123")
							.reviews__right
								.reviews__site Работа: beautyelixir.ru
								.reviews__history История, контакты
						.reviews__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta provident quidem similique totam et, harum quo quia iusto vitae quam rem modi qui ducimus at iste aperiam ipsum deleniti.
					.reviews__item
						.reviews__top
							.reviews__left
								.reviews__name Екатерина Иванова
								.reviews__work Индивидуальный предприниматель
							.reviews__center
								img(src="http://lorempixel.com/200/200", alt="123")
							.reviews__right
								.reviews__site Работа: beautyelixir.ru
								.reviews__history История, контакты
						.reviews__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta provident quidem similique totam et, harum quo quia iusto vitae quam rem modi qui ducimus at iste aperiam ipsum deleniti.
		.portfolio
			p lorem