section.info
    h2.info__title Что нужно знать о студии?
    .info__container
        .reviews
            h3.reviews__title Что о них говорят
            .reviews__content
                a(href="#" class="reviews__fullreview") Все отзывы
                .reviews__slider
                    .reviews__item
                        .reviews__top
                            .reviews__left
                                .reviews__name Екатерина Иванова
                                .reviews__work Индивидуальный предприниматель
                            .reviews__center
                                img(src="http://lorempixel.com/200/200/sports/1")
                            .reviews__right
                                .reviews__site Работа: 123
                                .reviews__history История, контакты
                        .reviews__text
                            p Промо-сайты для сиропов Лактусан и Прелакс создавались, чтобы рассказать о безопасном решении таких деликатных проблем, как запоры и дисбактериоз. Сделали ярко и с юмором. По остальным проектам тоже сработали отлично.
                    .reviews__item
                        .reviews__top
                            .reviews__left
                                .reviews__name Екатерина Иванова
                                .reviews__work Индивидуальный предприниматель
                            .reviews__center
                                img(src="http://lorempixel.com/200/200/sports/1")
                            .reviews__right
                                .reviews__site Работа: 123
                                .reviews__history История, контакты
                        .reviews__text
                            p Промо-сайты для сиропов Лактусан и Прелакс создавались, чтобы рассказать о безопасном решении таких деликатных проблем, как запоры и дисбактериоз. Сделали ярко и с юмором. По остальным проектам тоже сработали отлично.

            .portfolio
                p lorem