section.products
    h2.products__title Индивидуальный подход? Мы знаем что это!
    .products__container
        .products__wrap.products__wrap--first
            a(href="#").products__link.products__link--left.products__link--women
                .products__imgwrap
                    img(src='img/women.png' alt="women-notactive" class="products__img products__img--women products__img--notactive")
                    img(src="img/women-active.png" alt="women-active" class="products__img products__img--women products__img--active")
                span.products__text Для женщин

            a(href="#").products__link.products__link--left.products__link--men
                .products__imgwrap
                    img(src='img/men.png' alt="women-notactive" class="products__img products__img--men products__img--notactive")
                    img(src="img/men-active.png" alt="women-active" class="products__img products__img--men products__img--active")
                span.products__text Для мужчин

            a(href="#").products__link.products__link--right.products__link--document
                .products__imgwrap
                    img(src='img/documents.png' alt="women-notactive" class="products__img products__img--document products__img--notactive")
                    img(src="img/documents-active.png" alt="women-active" class="products__img products__img--document products__img--active")
                span.products__text Для “Мои Документы”

        .products__wrap.products__wrap--second
            a(href="#").products__link.products__link--left.products__link--business
                .products__imgwrap
                    img(src='img/business.png' alt="women-notactive" class="products__img products__img--business products__img--notactive")
                    img(src="img/business-active.png" alt="women-active" class="products__img products__img--business products__img--active")
                span.products__text Для бизнеса

            a(href="#").products__link.products__link--left.products__link--gos
                .products__imgwrap
                    img(src='img/gos.png' alt="women-notactive" class="products__img products__img--gos products__img--notactive")
                    img(src="img/gos.png" alt="women-active" class="products__img products__img--gos products__img--active")
                span.products__text Для государства

            a(href="#").products__link.products__link--right.products__link--all
                .products__imgwrap
                    img(src='img/all.png' alt="women-notactive" class="products__img products__img--all products__img--notactive")
                    img(src="img/all-active.png" alt="women-active" class="products__img products__img--all products__img--active")
                span.products__text Для всех

        .products__wrap.products__wrap--hide