section.slider-images
    h2.slider-images__title Немного времени, на красивые картинки:)
    .slider-images__container
        .slider-images__slider
            .slider-images__item
                img(src="http://lorempixel.com/1920/1080")
            .slider-images__item
                img(src="http://lorempixel.com/1920/1080/sports")
            .slider-images__item
                img(src="http://lorempixel.com/1920/1080/sports/1")
    .slider-images__bg
