section.whoyou
	h2.whoyou__title Сразу к делу! Кто вы?
	.whoyou__topwrap
		#youip.whoyou__topitem
			.whoyou__topimg.whoyou__topimg--ip
				img(src="img/1.png", alt="123" class="notactive")
				img(src="img/2.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--ip Индивидуальный предприниматель
		#yousr.whoyou__topitem.active
			.whoyou__topimg.whoyou__topimg--sr
				img(src="img/3.png", alt="123" class="notactive")
				img(src="img/4.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--sr Владелец среднего бизнеса
		#yougs.whoyou__topitem.active
			.whoyou__topimg.whoyou__topimg--gs
				img(src="img/5.png", alt="123" class="notactive")
				img(src="img/6.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--gs Директор гос. предприятия
		#youkb.whoyou__topitem.active
			.whoyou__topimg.whoyou__topimg--kb
				img(src="img/7.png", alt="123" class="notactive")
				img(src="img/8.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--kb Владелец крупного бизнеса
		#yousp.whoyou__topitem.active
			.whoyou__topimg.whoyou__topimg--sp
				img(src="img/9.png", alt="123" class="notactive")
				img(src="img/10.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--sp Владелец Start-up
		#youdn.whoyou__topitem.active
			.whoyou__topimg.whoyou__topimg--dn
				img(src="img/11.png", alt="123" class="notactive")
				img(src="img/12.png", alt="123" class="active")
			.whoyou__toptext.whoyou__toptext--dn Не могу определиться
	.whoyou__bottomwrap